<div *ngIf="currentUser" class="edit-form">
  <h4>E-mail</h4>
  <form 
    *ngIf="!isSuccessful"
    name="form"
    #f="ngForm"
    novalidate
    >
    <div class="form-group">
      <label for="emailMessage">Mensagem</label>
      <textarea [(ngModel)]="form.message" name="emailMessage" id="emailMessage" required  rows="6" cols="50"></textarea>
    </div>   
  <button type="submit" class="badge badge-success" (click)="sendMessage()">
    Enviar
  </button>
</form> 
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentUser">
  <br />
  <p>Cannot access this User...</p>
</div>
